[Unit]
Description=Team Treats webapp (TT)

[Service]
WorkingDirectory=/var/www/app
ExecStart=dotnet teamtreats-webapp.dll
Restart=always
RestartSec=10
SyslogIdentifier=teamtreatsapp
User=vagrant
Environment=ASPNETCORE_ENVIRONMENT=Development

[Install]
WantedBy=multi-user.target